/* -------------------------------------------- */
/* main header */
/* -------------------------------------------- */
.page-header-cnt {
    background: $colorPrimary;
}

/* -------------------------------------------- */
/* main logo */
/* -------------------------------------------- */
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg);
    transform:rotate(360deg); }
}
.logoReact {
    &:hover {
        -webkit-animation:spin .9s ease-out .1s;
        -moz-animation:spin .9s ease-out .1s;
        animation:spin .9s ease-out .1s;
    }
}
.main-logo {
    display: inline-block;
    vertical-align: top;
}
.main-logo img {
    display: block;
    background-image: url('../images/logo.png');
    height: 60px;
}


/* -------------------------------------------- */
/* main nav */
/* -------------------------------------------- */
.main-nav {
    float:right;
}
.main-nav li {
    display: inline-block;
}
.main-nav li a {
    font-size: 15px;
    text-decoration: none;
    color:#fff;
    line-height: 60px;
    padding:0 10px;
    text-align: center;
    text-transform: uppercase;
}
.main-nav li a:hover {
    color:$colorPickedCountry;
    // border-bottom:4px solid #fff;
    transition: all 500ms ease-in;

}
